/*td, tr, body{
  padding: 0px;
  margin: 0px;
  border: 0px;
}
*/




body{
  font-size: 16px;
}

#board{
  background-color: #98bba7;
  float: left;
}

#board td{
  min-width: 32px;
  min-height: 32px;
  background-repeat:no-repeat;
}

#board tr{
  height: 32px;
}
.hardwall{
  background-image:url('../images/hardwall.png');
}

.softwall{
  background-image:url('../images/softwall.png');
}
.bomb{
  background-image:url('../images/bomb.png');
}
.bomb_goodie{
  background-image:url('../images/bonusbomb.png');
}
.range_goodie{
  background-image:url('../images/bonuspower.png');
}

.player, .bomb{
  width: 32px;
  height: 48px;
  background-repeat:no-repeat;
  position: absolute;
}

.player{
  background-image:url('../images/player1.png');  
}

.blast{
  background-image:url('../images/explosion.png');
}

.bomb-goodie{
  background-image:url('../images/bonusbomb.png');  
}
.range-goodie{
  background-image:url('../images/bonuspower.png');  
}


/* Inscructions */
.info{
  position: relative;
  float: right;
  margin-right: 50px;
  font-size: 62.5%;
}

.info article {
  margin: 50px;
  float: right;
  font-size: 1.5em;
}
.info pre:first {
  float: left;
}

.info h1{
  font-size: 1.2em;
  font-weight: bold;
}

.info span{
  font-weight: bold;
}










/* Media queries to define break points - fun stuff */

@media screen and (max-width: 1160px){
  .info pre{
    float: none;
  }
}
@media screen and (max-width: 945px){
  .info{
    float: none;
  }

  #board{
    float: none;
  }
}
